cssmin==0.2.0
Django==1.11.29
django-assets==0.12
django-braces==1.9.0
django-widget-tweaks==1.4.1
ecdsa==0.11
eea.flis.metadata==0.6.2
eea.frame>=0.5.3
fancycompleter==0.4
gunicorn==18.0
jsmin==2.0.9
meld3==1.0.0
paramiko==1.12.4
psycopg2==2.5.2
pycrypto==2.6.1
Pygments==1.6
pyrepl==0.8.4
pytz==2014.2
raven==5.1.1
requests==2.11.1
six==1.10.0
supervisor==3.0
webassets==0.12.0
wmctrl==0.1
