{% extends 'frame.html' %}
{% load assets %}

{% block head %}

  {% assets "css" %}
    <link href="{{ ASSET_URL }}" rel="stylesheet">
  {% endassets %}

  <title>
    {% block title %}
      Uses of foresight in policymaking
    {% endblock %}
  </title>
  {% block extra_head %}{% endblock %}

{% endblock %}


{% block zope_content %}

  <div class="content clearfix">
  <div class="logo text-right header">
    <img src="{{STATIC_URL}}/img/logo.png" width="90" height="100" alt="Live Catalogue">
    <img src="{{STATIC_URL}}/img/blossom.png" width="90" height="100" alt="Live Catalogue">
  </div>
    <h1>Uses of foresight in policymaking</h1>

    <p>The aim of this tool is to transparently present various aspects of interest for the FLIS community in relation to using forward-looking information in policymaking. It collects information on forward-looking activities (their applications in relation to policy cycle, which methods and methodologies were used, stakeholder involvement, experience and outcomes) and about assessments in relation to the practice of embedding foresight in policymaking. The latter also includes sharing of experience and results of Blossom studies (Bridging long-term scenario and strategy analysis: organisation and methods).</p>
    <p>Blossom is an approach designed by the EEA in 2008 to analyse the success factors and barriers to a long-term perspective in public policymaking, with particular reference to environmental planning.</p>

    {% block content %}{% endblock %}
  </div>


  {% assets "js" %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}

  {% block scripts %}{% endblock %}
  <script>
      //Overwrite the came_from value for a correct redirect
      var site_url = '{{SITE_URL}}';
      $('a[href^="'+site_url+'/login_html?came_from"]')
          .attr('href', site_url+'/login/login_form?disable_cookie_login__=1&came_from='+$(location).attr('href'));
      $('.breadcrumbitemlast a').attr('href', $(location).attr('href').split('study')[0]);
  </script>

{% endblock %}
