{% extends '_layout.html' %}


{% block title %}

  {{ block.super }} -  Settings (Outputs)

{% endblock %}


{% block content %}

  {% include '_messages.html' %}
  {% include '_studies_nav.html' %}

  {% url 'settings:outcomes_edit' as add_url %}
  <div class="actions">
    <a href="{{ add_url }}" class="btn btn-primary">Add new output</a>
  </div>

  {% if object_list %}

    <table id="settings" width="100%"
           class="table table-condensed table-bordered table-hover sortable"
           data-url="{% url 'settings:update_order' setting_name='outcome' %}">

      <thead>
        <tr>
          <th class="handler"></th>
          <th>Title</th>
        </tr>
      </thead>

      <tbody>
        {% for object in object_list %}
          {% url 'settings:outcomes_edit' pk=object.pk as edit_url %}
          <tr id="items-{{ object.pk }}">
            <td class="handler" width="20">
              <span class="glyphicon glyphicon-align-justify"></span>
            </td>
            <td>
              <a href="{{ edit_url }}">
                {{ object.title }} ({{ object.doc_type|capfirst }})
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>

    </table>

  {% endif %}


{% endblock%}
